*
{
    margin: 0rem;
    padding:0rem;
}

:root
{   
    --accent: #202020;

	--accent-light: #ff8d09;
	--accent-dark: #f38506;
    --maincolor: rgb(40, 40, 40);
	--gutter: 20px;
	--text: #333;
	--dark: #202328;
	--deep: #171A1A;
	--dark-header: #6F7A8B;
	--dark-div: #2D3038;
	--light-bg: #FAFAFA;
	--light-disabled: #E4E6E8;
	--light-div: #E7E7E8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999999;
	--regular-text: 16px;
	--small-text: 14px;
	--lineheight: 1.75;
	--userfont: raleway-wt, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--radius-style: 0 5px;
	--transition: .25s ease-out;
	--address: #989DA5;
    font-family: roboto;
    
}
.mainheader
{
    width: 100%;
    height: 5rem;
    background: var(--maincolor);
}