@font-face {
    font-family: 'Coming Soon';
    src: url('ComingSoon-Regular.eot');
    src: local('Coming Soon Regular'), local('ComingSoon-Regular'),
        url('ComingSoon-Regular.eot?#iefix') format('embedded-opentype'),
        url('ComingSoon-Regular.woff2') format('woff2'),
        url('ComingSoon-Regular.woff') format('woff'),
        url('ComingSoon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

